# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Virtual environments
# ===============================
venv/
.env/
.venv/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# Logs
# ===============================
*.log

# ===============================
# WandB
# ===============================
wandb/

# ===============================
# Checkpoints / outputs
# ===============================
outputs/
checkpoints/
*.pt
*.pth

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# VSCode / IDE
# ===============================
.vscode/
.idea/

# ===============================
# Test cache
# ===============================
.pytest_cache/

# data
datasets/
*.npy
*.npz
*.csv